body
{
    background-image: url(Wallpaper/Butterfly.jpg);
    background-attachment: fixed;
}

h1
{
    color: #eddada;
    font-size: 45px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
h2
{
    font-family: 'PT Sans Narrow', sans-serif;    
    color: #c6afaf;
    font-size: 23px;
    padding-right: 7cm;
    padding-left: 8cm;
    text-align: center;
}
h3
{
    font-family: 'PT Sans Narrow', sans-serif;
    color: burlywood;
    font-size:23px;
    padding-right: 7cm;
    padding-left: 7cm;
    text-align: center;
}
h4
{
    font-size:46px;
    text-align: center;
    color: #c9c8bf;
}
h5
{
   font-size:46px;
    text-align: center;
    color: #c9c8bf;
}
h6
{
    font-size: 24px;
    text-align:right;
    color: #82bcff;
}
a
{
    font-size: 24px;
    text-align:right;
    color: #82bcff;
}
p
{
    font-size: 34px;
    text-align: center;
    color: #c9bfbf;
}
span
{
    color: #ffffff;
}
spam
{
    color: #efe9b3;
}